#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.Avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}


.big-cats-list {
  display: flexbox;
  flex-direction: column;

  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 10%;
  font-family: Arial, sans-serif;
  border: 1px solid #161616;
}

.big-cats-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.big-cats-list li:last-child {
  border-bottom: none;
}

.big-cats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  margin: 10%;
}

.catGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}



.add-cat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 30%;
  font-family: Arial, sans-serif;
  background-image: "maths.jpg";
  border: #000000;
  border-radius: 10px;
}


.calculator {
  margin: auto;
  max-width: 400px;
  background-color: #182852;
  height: auto;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


#clear {
  padding: 15px;
  font-size: 20px;
  font-family: Century Gothic, sans-serif;
  background-color: #6b8add;
  border: 2px solid #ccc;
  border-radius: 10px;

}

#op {
  padding: 15px;
  font-size: 20px;
  font-family: Century Gothic, sans-serif;
  background-color: #b8bcd4;
  border: 2px solid #ccc;
  border-radius: 10px;

}

#display {
  width: 100%;
  height: 100%;
  font-size: 24px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #222121;
  font-family: Century Gothic, sans-serif;
  color: #a3a7e2;
}

#opr {
  background-color: dimgrey;
  font-weight: bold;
}

#result {
  background-color: #d8904d;
  color: rgb(0, 0, 0);
}